.text-title {
  text-transform: uppercase;
  font-size: 15px;
  font-family: Roboto Slab;
  font-weight: 600;
  margin-bottom: 60px;
}

.text-p {
  font-family: Source Sans;
  font-weight: 400;
  font-style: italic;
  font-size: 15px;
  line-height: 27px;
  color: #999;
  text-align: center;
  width: 670px;
}
