<div id="total">

  <aside id="esquerdo">

    <ul>
      <li id="profile"> <img src="" alt="profile.jpg"> </li>
      <li> </li>
      <li> </li>
      <li> </li>
      <li> </li>
    </ul>

  </aside>

  <div id="conteudo">

    <p> "   Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit rem, nemo vitae, ducimus dolorum corporis iste iusto id beatae in quasi perspiciatis architecto quam ad qui. Hic, error reprehenderit vitae tempora, maxime excepturi repellendus sunt nisi eligendi corporis iure, rem nulla? Debitis accusantium repudiandae molestias quibusdam delectus dignissimos, eius enim quasi ducimus. Labore, recusandae quasi at reprehenderit sed earum architecto, perferendis accusamus ipsam vitae libero distinctio. A maxime quo nam iste beatae ipsam sit porro doloribus ipsa eaque tenetur temporibus autem cupiditate saepe, nisi excepturi laboriosam sint enim? Ex aperiam voluptatum assumenda, nam dignissimos voluptas deleniti iure eius fugit beatae." </p>

    <p> "   Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit rem, nemo vitae, ducimus dolorum corporis iste iusto id beatae in quasi perspiciatis architecto quam ad qui. Hic, error reprehenderit vitae tempora, maxime excepturi repellendus sunt nisi eligendi corporis iure, rem nulla? Debitis accusantium repudiandae molestias quibusdam delectus dignissimos, eius enim quasi ducimus. Labore, recusandae quasi at reprehenderit sed earum architecto, perferendis accusamus ipsam vitae libero distinctio. A maxime quo nam iste beatae ipsam sit porro doloribus ipsa eaque tenetur temporibus autem cupiditate saepe, nisi excepturi laboriosam sint enim? Ex aperiam voluptatum assumenda, nam dignissimos voluptas deleniti iure eius fugit beatae." </p>

    <p> "   Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit rem, nemo vitae, ducimus dolorum corporis iste iusto id beatae in quasi perspiciatis architecto quam ad qui. Hic, error reprehenderit vitae tempora, maxime excepturi repellendus sunt nisi eligendi corporis iure, rem nulla? Debitis accusantium repudiandae molestias quibusdam delectus dignissimos, eius enim quasi ducimus. Labore, recusandae quasi at reprehenderit sed earum architecto, perferendis accusamus ipsam vitae libero distinctio. A maxime quo nam iste beatae ipsam sit porro doloribus ipsa eaque tenetur temporibus autem cupiditate saepe, nisi excepturi laboriosam sint enim? Ex aperiam voluptatum assumenda, nam dignissimos voluptas deleniti iure eius fugit beatae." </p>

    <p> "   Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit rem, nemo vitae, ducimus dolorum corporis iste iusto id beatae in quasi perspiciatis architecto quam ad qui. Hic, error reprehenderit vitae tempora, maxime excepturi repellendus sunt nisi eligendi corporis iure, rem nulla? Debitis accusantium repudiandae molestias quibusdam delectus dignissimos, eius enim quasi ducimus. Labore, recusandae quasi at reprehenderit sed earum architecto, perferendis accusamus ipsam vitae libero distinctio. A maxime quo nam iste beatae ipsam sit porro doloribus ipsa eaque tenetur temporibus autem cupiditate saepe, nisi excepturi laboriosam sint enim? Ex aperiam voluptatum assumenda, nam dignissimos voluptas deleniti iure eius fugit beatae." </p>

  </div>

  <aside id="direito">

    <ul>
      <li> </li>
      <li> </li>
      <li> </li>
      <li> </li>
      <li> </li>
    </ul>

  </aside>

</div>
